[cli]
theme = "github-light"

[wandb]
project = "nemotron"
entity = "romeyn"

[local]
executor = "local"
nproc_per_node = 8

[dlw]
executor = "slurm"
account = "coreai_dlalgo_llm"
partition = "batch"
run_partition = "interactive"
batch_partition = "batch"
time = "04:00:00"
tunnel = "ssh"
host = "dlw"
user = "mromeijn"
remote_job_dir = "/lustre/fsw/portfolios/coreai/users/mromeijn/run"


[eos]
executor = "slurm"
account = "coreai_dlalgo_llm"
partition = "batch"
run_partition = "interactive"
batch_partition = "batch"
time = "04:00:00"
tunnel = "ssh"
host = "eos"
user = "mromeijn"
remote_job_dir = "/lustre/fsw/coreai_dlalgo_llm/mromeijn/nemotron"

[prep]
extends = "dlw"
# CPU-only data prep using cpu_dataprocessing partition
# partition = "cpu_dataprocessing"
run_partition = "cpu"
batch_partition = "cpu"
nodes = 1
time = "00:30:00"
ntasks_per_node = 1
cpus_per_task = 4
remote_job_dir = "/lustre/fsw/portfolios/coreai/users/mromeijn/run_prep"

[prep-cpu]
extends = "dlw"
# CPU-only data prep using cpu_dataprocessing partition
run_partition = "cpu"
batch_partition = "cpu"
nodes = 1
ntasks_per_node = 1
cpus_per_task = 96
container_image = "anyscale/ray:2.49.2-py311"
remote_job_dir = "/lustre/fsw/portfolios/coreai/users/mromeijn/run_prep"

[prep-eos]
extends = "eos"
# CPU-only data prep - eos has no cpu partition, use interactive with gpus_per_node=0
partition = "interactive"
run_partition = "interactive"
batch_partition = "interactive"
time = "02:00:00"
nodes = 1
ntasks_per_node = 1
gpus_per_node = 0
container_image = "anyscale/ray:2.49.2-py311"

[megatron]
extends = "dlw"
nodes = 2
ntasks_per_node = 8
gpus_per_node = 8
mem = "0"
exclusive = true
# container_image = "nvcr.io/nvidian/nemo:25.11-nano-v3.rc2"
mounts = ["/lustre:/lustre"]

[node]
extends = "dlw"
nodes = 1
ntasks_per_node = 8
gpus_per_node = 8
mem = "0"
exclusive = true
container_image = "nvcr.io/nvidian/nemo:25.11-nano-v3.rc2"
mounts = ["/lustre:/lustre"]


[megatron-eos]
extends = "eos"
nodes = 1
ntasks_per_node = 8
gpus_per_node = 8
mem = "0"
exclusive = true
container_image = "nvcr.io/nvidian/nemo:25.11-nano-v3.rc2"
mounts = ["/lustre:/lustre"]

[pretrain]
extends = "megatron"
remote_job_dir = "/lustre/fsw/portfolios/coreai/users/mromeijn/pretrain"


[rl]
extends = "dlw"
nodes = 1
ntasks_per_node = 8
gpus_per_node = 8
mem = "0"
exclusive = true
container_image = "/lustre/fsw/portfolios/coreai/users/mromeijn/run/nano3-rl-25.11.sqsh"
mounts = ["/lustre:/lustre"]

[megatron-raw]
extends = "dlw"
container_image = "nvcr.io/nvidian/nemo:25.11-nano-v3.rc1"

[rl-raw]
extends = "dlw"
container_image = "nvcr.io/nvidian/nemo-rl:25.11-nano-v3.rc0"
