run:
  data: PretrainBlendsArtifact-default:latest
  env:
    container: nvcr.io/nvidian/nemo:25.11-nano-v3.rc2

recipe:
  _target_: megatron.bridge.recipes.nemotronh.nemotron_next_3b_v2.nemotron_next_3b_v2_pretrain_config
  per_split_data_args_path: ${art:data,path}/blend.json

logger:
  log_interval: 10
  wandb_project: ${run.wandb.project}   # Set from env.toml [wandb]
  wandb_entity: ${run.wandb.entity}     # Set from env.toml [wandb]

checkpoint:
  save: /nemo_run/pretrain
  save_interval: 20